body{
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
}
#AboutMe{
    margin-left: 43%;
    margin-top: 10%;
    color:white;
}
#Email{
    margin-left:35%;
    margin-top: 10%;
}
p{
    color:white;
    margin:10%;
}
#ESubject{
width:40%;
border-radius: 16px;


}

#EBody{
    width: 40%;
    height: 20vw;
    border-radius: 16px;
   
   
}
#ESubmit{
width:41%;
border-radius: 16px;
background-color:green; 


}
#name{
    position:absolute;
    color:white;
    top:-13vw;
    left:2%;
    font-size:15vw;
}
#lname{
    position:absolute;
    color:green;
    top:4vw;
    left:2%;
    font-size:15vw;
}
#list{
    position:absolute;
    color:white;
    overflow-y:scroll;
    top:-100vw;
    left:60vw;
    font-size: 5vw;
    height:40vw;
    width:35vw;
}
#headshot{
    position:absolute;
    height:50vw;
    width:30vw;
    top:0vw;
    left:60vw;
    margin:auto;
}
#buttons{
    position: absolute;
    top:38vw;
    left:14vw;
   

}
button{
    border-radius: 16px;
    font-size: 2vw;
}
#about{
    background-color:white;
}
#contactMe{
    color:white;
    background-color:green; 
}
form{
    display:flex;
  flex-direction: column; 





  /*
  trying to center

  justify-content: center;
  margin:auto;  */
 
}