body{
    background-color: black;
 /* overflow-y: hidden;
  overflow-x: hidden;  */
}
#namesAndPic{
    position: absolute;
    display:flex;
    flex-direction: row;
    top:17px
}
#names{
    display:flex;
    flex-direction: column;
}
#name{
    color:white;
    font-size:6vw;
}
#lname{
    color:green;
    font-size:6vw;
}
#list{
    color:white;
    overflow-y:scroll;
    font-size: 5vw;
    height:40vw;
    width:35vw;
}
#headshot{
    display:flex;
    padding-left: 20vw;
    height:40vw;
    width:40vw;
    margin:auto;
}

button{
    border-radius: 16px;
    font-size: 2vw;
}
.hidden--mobile{
    display: flex;
    position: absolute;
    top:41vw;
}
.whiteButton{
    background-color:white;
    
}
.greenButton{
    background-color:green; 
}
#hbMenu{
display: none;
}
#menu{
    display:flex;
    flex-direction: row;
}
footer{
    position:absolute;
    display: flex;
    top:60vw;
    
}
#socials{
display: flex;
justify-content:space-between;
position: relative;
left:750px;
}






/* phone view */
@media (max-width:667px) {
    body{
        background-color: black;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    #namesAndPic{
        display:flex;
        flex-direction: column;
    }
    #names{
        display:flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        left:-20vw;
    }
    #name{
        color:white;
        font-size:8vw;
    }
    #lname{
        color:green;
        font-size:8vw;
    }
    #list{
        color:white;
        overflow-y:scroll;
        font-size: 5vw;
        height:40vw;
        width:35vw;
    }
    #headshot{
        display:flex;
        position: relative;
        left:-30vw;
        height:120vw;
        width:110vw;
    }
    
    /* button{
        border-radius: 16px;
        font-size: 2vw;
    }
    .whiteButton{
        background-color:white;
    }
    .greenButton{
        color:white;
        background-color:green; 
    } */
    #menu{
        display: inline;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #hbMenu{
        display:inline;
        width:50px;
        height:50px;
        color: green;
    }
    footer{
        position:absolute;
        display: flex;
        left:-40px;
        top:148vw;
        
    }
    /* #buttons{
        display: none;
        position: absolute;
        flex-direction: column;
        width:100px;
        top:60px;
        left:17vw;
        justify-content: space-between;
        z-index: 1;
    } */
    #slide{
        position:absolute;
        top:-2vw;
        left:-100vw;
        z-index: 1;
    }
    .hidden--mobile{
        display: none !important;
    }
}

